.sass-cache
_site
_apps/*
node_modules/*
*.sublime-project
*.sublime-workspace
*.log
userconfig.yml
.bundle
vendor

# Added via the ./tools/add-artwork.sh script, either via CI or manually.
# It is the contents of the gitlab.com/fdroid/artwork repositories "badge" dir.
badge
