.idea
*.iml
.sass-cache
_site
_apps/*
node_modules/*
bower_components/*
*.sublime-project
*.sublime-workspace
*.log
.idea
userconfig.yml
.bundle
.idea
.vscode
vendor

# Added via the ./tools/add-artwork.sh script, either via CI or manually.
# It is the contents of the gitlab.com/fdroid/artwork repositories "badge" dir.
badge
