<a class="app-header" href="{{ include.app.beautifulURL | prepend: site.baseurl }}">
  <img class="app-icon" src="{% if site.fdroid-repo != "" and site.fdroid-repo != nil %}{{ site.fdroid-repo }}{% else %}https://f-droid.org/repo{% endif %}/icons/{{ include.app.icon }}" />

  <div class="app-info">
    <h4 class="app-name">
      {{ include.app.title }}
    </h4>

    <div class="app-desc">
      <span class="app-summary">{{ include.app.summary }}</span><span class="app-license">{{ include.app.license }}</span>
    </div>
  </div>
</a>
