<header class="site-header">

  <a class="site-title" href="{{ site.baseurl }}/">
    {% include fdroid-logo.svg %}
    <h1>{{ site.header-title }}</h1>
  </a>

  <nav class="site-nav">
    {% for nav-item in site.data.navigation %}
      {% if nav-item.title %}
        {% if nav-item.external %}
          <a class="page-link" href="{{ nav-item.url }}">{{ nav-item.title }}</a>
        {% else %}
          <a class="page-link {% if page.permalink contains nav-item.url %} current {% endif %}" href="{{ nav-item.url | prepend: site.baseurl }}">{{ nav-item.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

</header>
