<header class="site-header">

  <a class="site-title" href="{{ site.baseurl }}/">
    <img src="{% asset fdroid-logo-text.svg %}" alt="{{ site.header-title }}" />
  </a>

  <nav class="site-nav">
    {%- for nav-item in site.data.navigation %}
      {%- if nav-item.key %}
        {%- assign title = site.data.strings.navigation[nav-item.key] %}
        {%- if nav-item.external %}
          <a class="page-link" href="{{ nav-item.url }}">{{ title }}</a>
        {%- else %}
          {%- assign prefix = page.url | slice: 0, nav-item.url.size %}
          {%- if page.collection == 'posts' %}
            {%- assign prefix = '/news/' %}
          {%- elsif page.app_category %}
            {%- assign prefix = '/packages/' %}
          {%- endif %}
          <a class="page-link {%- if prefix == nav-item.url %} current" aria-current="page{% endif %}" href="{{ nav-item.url | prepend: site.baseurl }}">{{ title }}</a>
        {%- endif %}
      {%- endif %}
    {%- endfor %}
  </nav>

</header>
