<!--
Disabled until fixed: https://gitlab.com/fdroid/fdroid-website/-/issues/775
<h3>{{ site.data.strings.sidebars.search.heading }}</h3>
-->

<div>
  <form method="get" class="search-form" action="https://search.f-droid.org/">
    <div class="search-input-wrp">
      <input type="search" class="search-input" name="q">
    </div>
    <input type="hidden" name="lang" value="{{ site.active_lang }}">
    <input type="submit" value="{{ site.data.strings.sidebars.search.search }}" class="material-button" />
  </form>
</div>
