<files "client">
    Header set Content-Type "application/json"
    Header set Access-Control-Allow-Origin "*"
</files>
<files "server">
    Header set Content-Type "application/json; charset=UTF-8"
</files>