---
title: "An Open Letter Opposing Android Developer Verification"
author: marcprux
layout: post
date: 2026-02-24
authorWebsite: "https://keepandroidopen.org"
---

As we wrote about back in September in [F-Droid and Google's Developer Registration Decree](https://f-droid.org/2025/09/29/google-developer-registration-decree.html), Google plans to enforce mandatory developer registration as a requirement for building and distributing Android applications worldwide. Android, currently an open platform where anyone can develop and distribute applications freely, is to become a locked-down platform, requiring that developers everywhere register centrally with Google in order to be able to distribute their software. This applies regardless of whether your software is distributed commercially on a competitive app store like the Samsung Galaxy Store, or through a non-commercial community app repository like F-Droid, or even by offering your app as a direct download from a web page. In all these cases, installing or launching any application on an Android Certified device (which constitutes over 95% of all Android-compatible devices outside of China) will phone home to Google to verify that the developer and the application has been approved.

After an initial public outcry, Google rushed to assure developers that "sideloading is not going away". This, as we pointed out in [What We Talk About When We Talk About Sideloading](https://f-droid.org/2025/10/28/sideloading.html), is simply untrue. _Sideloading_, their pejorative term for the direct and unintermediated installation of software of your choosing on the device that you own, is indeed going away if they follow through on their threat. Furthermore, future app store competitors, be they commercial or non-profit, will forever be disadvantaged by their developers being required to sign up with Google, bound to their (voluminous, non-negotiable, and ever-changing) terms and conditions, pay a fee, upload government-issued identification, and register each and every one of their applications with Google.

## But didn't Google back down on Developer Verification?

There was a brief sigh of relief in November when Google offered vague assurances in a [blog post](https://android-developers.googleblog.com/2025/11/android-developer-verification-early.html) that they were going to design some "advanced flow" that might permit "experienced users to accept the risks of installing software that isn't verified". Some commenters went so far as to claim victory and assert that Google had backed down from the program altogether. Such triumphalism was premature and uninformed. **We have since learned that no such "advanced flow" will be made available prior to the September lock-down.** They purported to be "gathering early feedback on the design of this feature", but this is also untrue: no such feedback has been sought from anyone outside of Google.

Google's official and unambiguous stance remains, according to their [developer landing page](https://developer.android.com/developer-verification), that:

> _Starting in September 2026, Android will require all apps to be registered by verified developers in order to be installed on certified Android devices._

Google has refused repeated requests for concrete information about what form their so-called advanced flow will take, but it is reasonable to predict that if and when it is ever made available at some future point after the lock-down takes effect, it will be maximally obscure and high-friction. Such uncertainty makes it impossible to assess the viability of any "advanced flow" as a work-around for preserving software freedom, and so we must disregard it until it has been demonstrated and vetted by the community.

## Silence is consent; Resistance is not futile

According to their [official timeline](https://developer.android.com/developer-verification#timeline), Google intends to open their developer registration console in March. This is the first phase of lock-down, where developers are to be offered the dubious privilege of _paying Google_ so they can surrender their government identification, register all their applications, and become forever locked into Google's terms and conditions for app distribution.

**We unequivocally advise against signing up for this program, now or ever.**

But mere inaction is insufficient to offer meaningful resistance to the program. Individual developers must also become advocates for software freedom: through their own projects, through blog posts, through social media, and by contacting their regional regulators. It is only through developer complicity that Google's lockdown of Android can succeed.

F-Droid stands in solidarity as a signatory to the open letter published today at [keepandroidopen.org/open-letter](https://keepandroidopen.org/open-letter). We join with such champions of free software and free speech as the Electronic Frontier Foundation, the Free Software Foundation Europe, the Software Freedom Conservancy, and dozens of other organizations around the world in repudiating Google's overreach.

We implore Google to listen to the overwhelming opposition to this program and change course. The Android Developer Verification program is a grievous breach of trust with the free and open-source community that helped propel Android to the dominant position it holds today in the mobile computing world. There is still time to regain trust as a faithful steward of Android, and to work together with the community to seek sound and measured approaches to improving the security of the platform for users everywhere. But that time, as can be watched on the countdown at [keepandroidopen.org](https://keepandroidopen.org), is quickly running out.
