---
title: "An Open Letter Opposing Android Developer Verification"
author: marcprux
layout: post
authorWebsite: "https://keepandroidopen.org"
---

As we wrote about back in September in [F-Droid and Google's Developer Registration Decree](https://f-droid.org/en/2025/09/29/google-developer-registration-decree.html), Google plans to enforce mandatory developer registration as a requirement for building and distributing Android applications worldwide. Android, currently an open platform where anyone can develop and distribute applications freely, is to become a locked-down platform, requiring that developers everywhere register centrally with Google in order to be able to distribute their software. This applies regardless of whether your software is distributed commercially on a competitive app store like the Samsung Galaxy Store, or through a non-commercial community app repository like F-Droid, or even by offering your app as a direct download from a web page.

After an initial public outcry, Google quickly assured developers that "sideloading is not going away". This, as we pointed out in [What We Talk About When We Talk About Sideloading](https://f-droid.org/en/2025/10/28/sideloading.html), is simply untrue. _Sideloading_, their pejorative term for the direct installation of software of your choosing on the device that you own, is indeed going away if they follow through on their threat. Furthermore, future app store competitors — be they commercial or non-profit — will forever be disadvantaged by their developers being required to sign up with Google, agree to their voluminous terms and conditions, pay a fee, present government-issued identification, and register each and every one of their applications with Google.

## But didn't Google back down on Developer Verification?

There was a brief sigh of relief in November when Google offered vague assurances in a [blog post](https://android-developers.googleblog.com/2025/11/android-developer-verification-early.html) that they may provide some "advanced flow" that could permit "experienced users to accept the risks of installing software that isn't verified". Some commenters went so far as to claim victory and assert that Google had backed down from the program altogether. Such triumphalism was premature and uninformed. We have since learned that no such "advanced flow" will be made available prior to the September lock-down.

Google's official and unambiguous stance remains, according to their [developer landing page](https://developer.android.com/developer-verification), that:

> _Starting in September 2026, Android will require all apps to be registered by verified developers in order to be installed on certified Android devices._

Google has refused repeated requests for information about what form their advanced flow will take, but it is reasonable to predict that if and when it is ever made available at some future point after the lock-down takes effect, it will be maximally obscure and high-friction. Such uncertainty makes it impossible to assess the viability of any "advanced flow" as a work-around for preserving software freedom, and so we must disregard it until it has been demonstrated and vetted by the community.

## On Malware and Digital Sovereignty

Google purports their their lock-down is necessary to prevent the spread of malware. What exactly is "malware"? There is no universally-accepted definition, but it generally means malicious or otherwise unwanted software. Yielding to Google as the sole arbiter of the "malware" designation grants them unilateral authority to define and redefine the term as they see fit.

To be sure, there _are_ certain categories of applications that are unambiguously malicious, such as apps that pretend to be your bank in order to hijack credentials and steal your money. Yet other categories of apps that are widely regarded as predatory — such as addiction-conducive "gacha" gambling apps that lure vulnerable users into wasting their money and attention on gems and coins — are gleefully promoted on many commercial app stores, including Google's own Play Store. Or apps that profit by clandestinely siphoning off your intimate personal information — location, contacts, photos, calendar, etc. — to data brokers who package it up and redistribute to the highest bidder, are disallowed by F-Droid but happily tolerated in the Play Store.

Further, how might Google's own "malware" designation be expanded in the future? They have long since [banned ad-blocking software](https://www.wired.com/2013/03/google-boots-ad-blockers-from-google-play-store/) from the Play Store, and have even [classified some as malware](https://www.theregister.com/2017/01/05/adnauseam_expelled_from_chrome_web_store/). How long before they designate all ad-blocking software as malware and block installation on all Android certified devices worldwide? Such a move would certainly be aligned with their commercial incentives as the global leader in ad-tech.

And finally, if Google is directed by the US government to block certain applications, they will have no choice but to comply. Whereas such actions have heretofore been limited to software distributed through the Google's own Play Store, such as their recent removal of the [Red Dot](https://www.theverge.com/news/791533/google-apple-ice-tracking-app-store-red-dot-iceblock) app, centralized developer registration would extend this control worldwide, which would transitively grant any US administration the extra-legal ability to block apps across the world for any reason whatsoever.

## Silence is consent; Resistance is not futile

According to their [official timeline](https://developer.android.com/developer-verification#timeline), Google intends to open their developer registration console in March. This is the first phase of lock-down, where developers are offered the dubious privilege of paying Google so they can upload their government identification, register all their applications, and then be forever locked into Google's terms and conditions for app distribution.

**We emphatically recommend against signing up for this program, now or ever.**

But mere inaction is insufficient to offer meaningful resistance to the program. Individual developers must also become advocates for software freedom: through their own projects, through blog posts, through social media, and by contacting their regional regulators. It is only through developer complicity that Google's lockdown of Android can succeed.

F-Droid is proud to be a signatory to the open letter published at [keepandroidopen.org/letter](https://keepandroidopen.org/letter). We join such champions of free software and free speech as the Electronic Frontier Foundation, the Free Software Foundation Europe, and the Software Freedom Conservancy in repudiating Google's overreach. We implore Google to listen to the overwhelming opposition to this program and change course. There is still time to regain trust as a faithful steward of Android, and to work together with the community to seek sound and measured approaches to improving the security of the platform for users everywhere.
