---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
    <i class="post-meta">
		{% assign fmt_posted_on = '{{ post_date }}' %}
		{% assign formatted_post_date = page.date | date: site.data.strings.news.date_format %}
		{% if page.author %}
			{{ site.data.strings.news.posted_on_by | replace: fmt_posted_on, formatted_post_date }}
			{% if page.authorWebsite %}
				<a href="{{ page.authorWebsite }}">
			{% endif %}
			<img
				src="{{ page.author | append: '.jpg' | asset }}"
				alt="{{ page.author }}"
				width="40"
			/>
			<span
				itemprop="author"
				itemscope itemtype="http://schema.org/Person">
				<span
					itemprop="name">{{ page.author }}
				</span>
			</span>
			{% if page.authorWebsite %}
				</a>
			{% endif %}
		{% else %}
			{{ site.data.strings.news.posted_on | replace: fmt_posted_on, formatted_post_date }}
		{% endif %}
	</i>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
